.box{
    position: absolute;
    text-align: center;
    width:500px;
    height: 450px;
    padding-top:50px;
    padding-bottom: 100px;
    
    margin-top:76px;
    box-shadow:1px 1px 10px 1px rgb(0 0 0/20%);
   
}
.container{
    display:flex;
    justify-content:center;
}




    #a1{
        margin-top: 10px;
        font-size:25px;
    }

.mail{
    margin-right:220px;
    margin-top: 10px;
    text-decoration: none;
    
}
#a2{
    color:blue;
    
    
}
#a3{
    margin-left:60px;
    margin-top:50px;
}


    #a4{
    font-size: 17px;
    text-decoration: none;
    color:blue;
    margin-right:230px;

}

.account{
    font-size:20px;
}
a{
    text-decoration: none;
    color: black;
}

.input-field{
    height:50px;
    width:300px;
}
input-field:focus{
    border:2px solid blue;

    transition: 0.2s;
}


.p2{
    margin-left: 60px;
    margin-top: 30px;
}

    

 

.submit{
    background-color: blue;
    margin-left: 152px;
    font-size: 17px;
    border:1 px solid blue;
    font-weight: bold;
    color:white;
    border:none;
    border-radius:4px 4px;
    width:80px;
    padding:10px;
    margin-bottom: 90px;
    
    

}
#error{
    color:red;
    
    font-size: 15px;
    margin-left: -90px;
}
.dropbtn {

    color: #1a73e8;
    margin-left:90px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background:none;
    
  }
  
  .dropbtn:hover, .dropbtn:focus {
    cursor:pointer;
    background-color:lightblue
  }
  .dropdown {
    position: relative;
    float:left;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: -136px;
    left: 42px;
    right: -42px;

    min-width: 160px;
    overflow: auto;
    border:1px solid #dadce0;
    border-radius:5px 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
    margin-left:30px;
    background:white;
  }
  
  .dropdown-content a {
    color: black;
    font-size:15px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor:pointer;
    
  }
  .drop-content a:hover{
    background:#ddd;
    cursor:pointer;
  }
  
  .dropdown a:hover {

    background-color: #ddd;
    cursor:pointer;
    
}
  
  .show {display: block;}



.field1{
    list-style: none;
    display:flex;
    margin-left: -7%;

}
.field2{
    list-style: none;
    display:flex;
    margin-left: 25px;
    padding-left: 25px;
    

}
footer{
    display: flex;
    margin-top: -20px;
}
.line{
    padding-left: 55px;
}
.line a{
    color:#757575;
}

.header{

    display:flex;
    justify-content: center;

}
